html {
    box-sizing: border-box;
    height:100%;
}
*,
*:before,
*after {
    box-sizing: inherit;
}    
body{
    font-family: 'Song Myung', serif;
    text-align: center;
}

#myLogo {
    max-width: 60px;
}

.BeforeScroll{
    color: rgb(15, 15, 19);
    display: none;
}
.AfterScroll {
    color:whitesmoke;
    display: block;
}

nav {
    background-color: rgb(15, 15, 19);
    height: 70px;
}

.navbar-dark .navbar-nav .nav-link {
    background-color:rgb(15, 15, 19);
    color:whitesmoke;
} 

@media (max-width: 860px) {
    nav ul     { display: none; }
    nav select { display: inline-block; }
}

header.masthead{
    margin-top: -4%;
    text-align: center;
    color: rgb(15, 15, 19);
    background-image: url("../images/dreamstime2.jpg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: contain, auto;
    background-size :no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.intro-lead-in {
    margin-left: 2%;
    margin-top: -7%;
    text-align: center;
    width: 80%;
    margin-bottom: 14%;
  }

h1 {
    font-size: 35px
} 

h2 {
    font-size: 28px
}

h2.contactText {
    margin-top: 20px;
    font-size: 25px;
}

@media (min-width: 768px) {
    header.masthead .intro-text {
     padding-top: 350px;
     padding-bottom: 200px;
   }
 }

 h3 {
    margin-top: 30px;
    padding: 15px;
    font-size: 45px;
}


h4 {
    font-size: 19px;
    font-weight: 100;
    color:whitesmoke;
    background-color: rgb(3, 4, 28);
    border: solid 1px rgb(3, 4, 28);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-bottom: 4px;
    padding-top: 4px;
}

h5 {
    color: rgb(15, 15, 19); 
  }

p.me-text {
    font-size: 20px;
    text-align: left;
}  
  
section {
    text-align: center;
    color: rgb(3, 4, 28);
    border-top: solid 5px rgb(3, 4, 28);
    background-image: url("../images/white_sands.jpg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: contain, auto;
    background-size :no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#about, #portfolio, #contact {
    margin-top: 4%;
}

#about-image {
    background-image: url("../images/strongGir1.jpg");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: contain, auto;
    background-size :no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 8px;
    margin-bottom: 25px;
    box-shadow: 3px 3px 12px rgb(0,0,0,0.8);
    /* border: solid 2px rgb(15, 15, 19) */
}

.work img {
    border: solid 1px rgb(3, 4, 28);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height:160px;
    width: 100%;
    opacity: .8;
    margin-top: 10px;
}

.portfolio-row {
    margin-bottom: 20px
}

.portfolio-hover-content {
    margin-top: 5px !important;
}

.tools {
    color:rgb(15, 15, 19);
    font-size: 16px;
    margin-top: 20px;
    
}

#portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
  
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height:160px;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: rgba(50, 139, 247, 0.9);
    margin-top: 10px;
}
  
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    font-size: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    color: whitesmoke;
}
  
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    margin-top: -12px;
}
  
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3 {
    margin: 0;
}
  
#portfolio .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
}
  
#portfolio .portfolio-item .portfolio-caption p {
    font-size: 16px;
    font-style: italic;
    margin: 0;
}
  
#portfolio * {
    z-index: 2;
}

#contact {
    background-color: whitesmoke;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 70px;
    /* border-top: solid 1px rgb(15, 15, 19);
    border-bottom: solid 1px rgb(15, 15, 19) */
    box-shadow: 3px 1px 12px rgb(0,0,0,0.8);
}

.contactContent {
    color: rgb(15, 15, 19); 
    margin-bottom: 50px;
}

.icon {
    transition: transform .2s;
    width: 55px;
    height: 55px;
    margin: 0 auto;
    padding: 8px;
    position: relative;
}

.link {
    transition: transform .2s;  
}

.icon:hover, .link:hover {
    transform: scale(1.2);
}

p.emailText {
     text-align: right;
     padding-top: 2px;
     line-height: 45px;
     font-size:17px;
}
.far {
    color:  rgba(32, 101, 186, 0.9);
    font-size: 45px;
}

footer,h6 {
    background-color: rgb(15, 15, 19);
    color: rgb(97, 97, 99);
    font-size: 15px;
    text-transform: none;
    margin-bottom: none 0;
    padding-top: 10px;
    padding-bottom: 10px;
}